<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nosotros</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/scss/main.css">
    <link rel="stylesheet" href="../static/scss/skin.css">

    <link rel="icon" type="image/x-icon" href="../static/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="../static/script/index.js"></script>

</head>

<body id="wrapper">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-7 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-laptop"></i><a href="https://campus.asesoriaseducativasaldia.com/login/index.php">PLATAFORMA</a></li>
                        <li><i class="fa fa-phone"></i><a href="/contact">CONTACTA CON NOSOTROS</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 social">
                    <ul class="social_links">
                        <li><a href="https://bit.ly/3dr1L8T" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://bit.ly/3degVhy" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.tiktok.com/@anyi.kpg?_t=8g35ffMGoiM&_r=1" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://bit.ly/3Qhp8A5" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
                        <a class="navbar-brand" href="#">
                            <img src="../static/img/logo.png."> 
                        </a>
                            <!-- <h1>Aspire</h1><span>Software Solutions</span></a> -->
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="#">Nosotros</a></li>
                            <li><a href="/contact">Contáctenos</a></li>
                            <li><a href="/features">Servicios</a></li>
                            <li><a href="/training">Capacitación</a></li>
                            <li><a href="/formats">Formatos</a></li>
                            <!-- <li><a href="login.html">Sign In</a></li>
                            <li><a href="registration.html">Sign Up</a></li> -->
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </nav>
    </header>
    
    <section id="top_banner">
        <div class="banner">
            <div class="inner text-center">
                <h2>Conoce más sobre quiénes te acompañarán</h2>
            </div>
        </div>
        <div class="page_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">
                        <h4>Nosotros</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> 	/ </span><span class="current"> Nosotros</span></div>
                </div>
            </div>
        </div>

        </div>
    </section>


    <section id="about-page-section-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 text-align">
                    <div class="section-heading text-center">
                        <h2>¿Quién <span>soy</span>?</h2>
                    </div>
                    <p class="textinfo" style="text-align: justify;">
                        Soy Anyi Katerine Prieto Gómez y he estado dedicada a la asesoría de establecimientos educativos de educación inicial 
                        durante más de 12 años. Mi objetivo principal es ayudar a las directoras a cumplir con las normativas pertinentes, al mismo 
                        tiempo que logro crear un ambiente de tranquilidad y bienestar en las instituciones que asesoro.

                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <img height="" width="70%" src="../static/img/Angie.png" class="attachment-full img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>


    <section id="team-member" style="background-color: #f9f9f9;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-heading text-center">
                        <h1>Nuestro <span>equipo</span></h1>
                        <p class="textinfo">
                            Somos un equipo apasionado y dedicado de profesionales comprometidos con el bienestar y el desarrollo de los niños, niñas y familias en jardines infantiles. 
                            Una de nuestras misiones es crear un entorno seguro y enriquecedor donde todos los niños puedan florecer emocionalmente y desarrollar todo su potencial. 
                            Además, buscamos generar seguridad, confianza y tranquilidad para las directoras de los establecimientos educativos, al cumplir con las normativas de manera preventiva y no reactiva.
                        </p>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="our-team main-info-below-image">
                        <div class="our-team-inner">
                            <div class="our-team-image">
                                <img src="../static/img/psychology.png"/>
                            </div>
                            <div class="our-team-info">
                                <div class="our-team-title-holder">
                                    <h5 class="our-team-name"><a href="/features">Psicología para jardines</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="our-team main-info-below-image">
                        <div class="our-team-inner">
                            <div class="our-team-image">
                                <img src="../static/img/nursing.png"/>
                            </div>
                            <div class="our-team-info">
                                <div class="our-team-title-holder">
                                    <h5 class="our-team-name"><a href="/features">Enfermería</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="our-team main-info-below-image">
                        <div class="our-team-inner">
                            <div class="our-team-image">
                                <img src="../static/img/speech-therapy.png"/>
                            </div>
                            <div class="our-team-info">
                                <div class="our-team-title-holder">
                                    <h5 class="our-team-name"><a href="/features">Fonoaudiología</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="our-team main-info-below-image">
                        <div class="our-team-inner">
                            <div class="our-team-image">
                                <img src="../static/img/safe-work.png"/>
                            </div>
                            <div class="our-team-info">
                                <div class="our-team-title-holder">
                                    <h5 class="our-team-name"><a href="/features">Seguridad y salud en el trabajo</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="our-team main-info-below-image">
                        <div class="our-team-inner">
                            <div class="our-team-image">
                                <img src="../static/img/quality-standard.png"/>
                            </div>
                            <div class="our-team-info">
                                <div class="our-team-title-holder">
                                    <h5 class="our-team-name"><a href="/features">Estándares de calidad de Educación</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section id="about-page-section-3">
        <div class="container">
            <div class="row">
                <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <img height="" width="auto" src="../static/img/conferencista.jpg" class="attachment-full img-responsive" alt="">
                </div> -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-align">
                    <div class="section-heading text-center">
                        <h2>Somos <span>especialistas</span></h2>
                    </div>
                    <p class="textinfo" style="text-align: justify;">
                        En Asesorías Educativas Al Día, nos especializamos en brindar apoyo a los jardines infantiles 
                        para que cumplan con los estándares técnicos de la educación inicial de manera que se garantice 
                        la confianza y seguridad durante las visitas de inspección a las directoras.
                        También acompañamos a diseñar e implementar un Sistema de Seguridad y Salud en el Trabajo no 
                        solo en jardines infantiles, sino en colegios, así como proporcionar bienestar a los colaboradores 
                        de los establecimientos educativos. A través de procesos eficaces, te brindamos la tranquilidad 
                        de saber que estás ofreciendo un entorno seguro y saludable para todos.
                        Generando paulatinamente en los establecimientos educativos una cultura de cumplimiento 
                        preventivo con la normatividad, y no reactivo.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contacto</h4>
                        <hr/>
                        <h4>Angie Prieto Gómez</h4>
                        <p>
                            <b>Correo:</b> jardininfantilaldia&#64;gmail.com <br>
                            <b>Teléfono:</b> 3004729917<br>
                        </p>
                        <p>
                            <b>Horario laboral:</b> <br>
                            Lunes a viernes: 8:00 am a 5:00pm<br>
                            Sábados: 8:00am a 1:00 pm <br>
                        </p>
                        <a href="/contact" class="learnmore">Contáctanos <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Links de utilidad</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="/about">Nosotros</a></li>
                            <li><a href="/contact">Contáctenos</a></li>
                            <li><a href="/features">Servicios</a></li>
                            <li><a href="/training">Capacitación</a></li>
                            <li><a href="/formats">Formatos</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Nuestras redes sociales</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="https://bit.ly/3dr1L8T" target="_blank"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;Facebook</a></li>
                            <li><a href="https://bit.ly/3degVhy" target="_blank"><i class="fa fa-instagram"></i>&nbsp;&nbsp;&nbsp;Instagram</a></li>
                            <li><a href="https://www.tiktok.com/@anyi.kpg?_t=8g35ffMGoiM&_r=1" target="_blank"><i class="fab fa-tiktok"></i>&nbsp;&nbsp;&nbsp;TikTok</a></li>
                            <li><a href="https://bit.ly/3Qhp8A5" target="_blank"><i class="fa fa-youtube"></i>&nbsp;&nbsp;&nbsp;Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Developed by <a href="#">Aspire Software Solutions</a> designed by <a href="#">Designing Team</a>
                </div>
            </div>
        </div>
    </section>

</body>

</html>