<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Formatos</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/scss/main.css">
    <link rel="stylesheet" href="../static/scss/skin.css">

    <link rel="icon" type="image/x-icon" href="../static/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="../static/script/index.js"></script>


</head>

<body id="wrapper">
    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-7 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-laptop"></i><a href="https://campus.asesoriaseducativasaldia.com/login/index.php">PLATAFORMA</a></li>
                        <li><i class="fa fa-phone"></i><a href="/contact">CONTACTA CON NOSOTROS</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 social">
                    <ul class="social_links">
                        <li><a href="https://bit.ly/3dr1L8T" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://bit.ly/3degVhy" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.tiktok.com/@anyi.kpg?_t=8g35ffMGoiM&_r=1" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://bit.ly/3Qhp8A5" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
                        <a class="navbar-brand" href="#">
                            <img src="../static/img/logo.png"> 
                        </a>
                            <!-- <h1>Aspire</h1><span>Software Solutions</span></a> -->
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">Nosotros</a></li>
                            <li><a href="/contact">Contáctenos</a></li>
                            <li><a href="/features">Servicios</a></li>
                            <li><a href="/training">Capacitación</a></li>
                            <li class="active"><a href="#">Formatos</a></li>
                            <!-- <li><a href="login.html">Sign In</a></li>
                            <li><a href="registration.html">Sign Up</a></li> -->
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </nav>
    </header>

    <section id="top_banner">
        <div class="banner">
            <div class="inner text-center">
                <h2>Nuestros documentos en un solo click</h2>
            </div>
        </div>
        <div class="page_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">
                        <h4>Formatos</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> 	/ </span><span class="current"> Formatos</span></div>
                </div>
            </div>
        </div>

        </div>
    </section>


    <section id="faq">
        <div class="titlebar">
            <div class="container">
                <div class="row">
                    <div class="section-heading text-center">
                        <div class="col-md-12 col-xs-12">
                            <h2><span>Formatos</span></h2>
                            <p class="subheading">Podrás descargar los siguientes formatos que te permitirán ampliar la información:</p>
                        </div>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="rich-accordian">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <div class="icon-circle"> <i class="fa-solid fa-file-shield"></i></div>
                                        <a href="../static/docs/CARTA PROYECTO.docx" download>Carta Proyecto</a>
                                    </h4>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <div class="icon-circle"> <i class="fa-solid fa-file-contract"></i></div>
                                        <a href="../static/docs/ACTA REUNIÓN COPASST.docx" download>Acta de reunión Copasst</a>
                                    </h4>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <div class="icon-circle"> <i class="fa-solid fa-hands-holding-child"></i></div>
                                        <a href="../static/docs/CARTA INSCRIPCIÓN JARDIN INFANTIL.docx" download>Carta inscripción jardín infantil</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="rich-accordian">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <div class="icon-circle"> <i class="fa-solid fa-file-lines"></i></div>
                                        <a href="../static/docs/DESCRIPCIÓN DOCUMENTOS.docx" download>Descripción documentos</a>
                                    </h4>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <div class="icon-circle"> <i class="fa-solid fa-unlock-keyhole"></i></div>
                                        <a href="../static/docs/FORMATO PROTOCOLO DE ESTRATEGIAS DE SEGURIDAD.docx" download>Formato protocolo de entregas</a>
                                    </h4>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <div class="icon-circle"> <i class="fa-solid fa-file-circle-plus"></i></div>
                                        <a href="../static/docs/REGISTRO DE NOVEDADES.docx" download>Registro de novedades</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="rich-accordian">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <div class="icon-circle"> <i class="fa-solid fa-file-invoice"></i></div>
                                        <a href="../static/docs/FORMATO ACTA.docx" download>Formato acta</a>
                                    </h4>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <div class="icon-circle"> <i class="fa-solid fa-arrow-trend-up"></i></div>
                                        <a href="../static/docs/PLAN DE MEJORAMIENTO CONTINUO POR COMPONENTE.docx" download>Plan mejoramiento continuo</a>
                                    </h4>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <div class="icon-circle"> <i class="fa-solid fa-file-import"></i></div>
                                        <a href="../static/docs/REGISTRO DE VISITAS.docx" download>Registro de visitas</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contacto</h4>
                        <hr/>
                        <h4>Anyi Prieto Gómez</h4>
                        <p>
                            <b>Correo:</b> jardininfantilaldia&#64;gmail.com <br>
                            <b>Teléfono:</b> 3004729917<br>
                        </p>
                        <p>
                            <b>Horario laboral:</b> <br>
                            Lunes a viernes: 8:00 am a 5:00pm<br>
                            Sábados: 8:00am a 1:00 pm <br>
                        </p>
                        <a href="/contact" class="learnmore">Contáctanos <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Links de utilidad</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="/about">Nosotros</a></li>
                            <li><a href="/contact">Contáctenos</a></li>
                            <li><a href="/features">Servicios</a></li>
                            <li><a href="/training">Capacitación</a></li>
                            <li><a href="/formats">Formatos</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Nuestras redes sociales</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="https://bit.ly/3dr1L8T" target="_blank"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;Facebook</a></li>
                            <li><a href="https://bit.ly/3degVhy" target="_blank"><i class="fa fa-instagram"></i>&nbsp;&nbsp;&nbsp;Instagram</a></li>
                            <li><a href="https://www.tiktok.com/@anyi.kpg?_t=8g35ffMGoiM&_r=1" target="_blank"><i class="fab fa-tiktok"></i>&nbsp;&nbsp;&nbsp;TikTok</a></li>
                            <li><a href="https://bit.ly/3Qhp8A5" target="_blank"><i class="fa fa-youtube"></i>&nbsp;&nbsp;&nbsp;Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Developed by <a href="#">Aspire Software Solutions</a> designed by <a href="#">Designing Team</a>
                </div>
            </div>
        </div>
    </section>


</body>

</html>