<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Servicios</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/scss/main.css">
    <link rel="stylesheet" href="../static/scss/skin.css">

    <link rel="icon" type="image/x-icon" href="../static/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="../static/script/index.js"></script>
</head>

<body id="wrapper">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-7 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-laptop"></i><a href="https://campus.asesoriaseducativasaldia.com/login/index.php">PLATAFORMA</a></li>
                        <li><i class="fa fa-phone"></i><a href="/contact">CONTACTA CON NOSOTROS</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 social">
                    <ul class="social_links">
                        <li><a href="https://bit.ly/3dr1L8T" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://bit.ly/3degVhy" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.tiktok.com/@anyi.kpg?_t=8g35ffMGoiM&_r=1" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://bit.ly/3Qhp8A5" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
                        <a class="navbar-brand" href="#">
                            <img src="../static/img/logo.png."> 
                        </a>
                            <!-- <h1>Aspire</h1><span>Software Solutions</span></a> -->
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">Nosotros</a></li>
                            <li><a href="/contact">Contáctenos</a></li>
                            <li class="active"><a href="#">Servicios</a></li>
                            <li><a href="/training">Capacitación</a></li>
                            <li><a href="/formats">Formatos</a></li>
                            <!-- <li><a href="login.html">Sign In</a></li>
                            <li><a href="registration.html">Sign Up</a></li> -->
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </nav>
    </header>


    <section id="top_banner">
        <div class="banner">
            <div class="inner text-center">
                <h2>Encuentra aquí los servicios que siempre has buscado</h2>
            </div>
        </div>
        <div class="page_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">
                        <h4>Servicios</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> / </span><span class="current">Servicios</span></div>
                </div>
            </div>
        </div>

        </div>
    </section>

    <section id="team-member" style="background-color: #f9f9f9;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 xol-md-12 col-sm-12 col-xs-12">
                    <div class="section-heading text-center">
                        <h1>Nuestros <span>servicios</span></h1>
                        <p class="textinfo">
                            Actualmente, los servicios que ofrecemos son los siguientes: Psicología para jardines, 
                            Enfermería, Fonoaudiología, Seguridad y Salud en el Trabajo y Asesoría en Estándares de Calidad de la Educación Inicial. 
                            A continuación, se puede encontrar más detalle de cada uno de ellos.
                        </p>
                        <br>
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="our-team main-info-below-image">
                        <div class="our-team-inner">
                            <div class="our-team-info">
                                <div class="our-team-title-holder">
                                    <h5 class="our-team-name"><a class="ref-feature" href="#psychology"><br>Psicología para jardines</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="our-team main-info-below-image">
                        <div class="our-team-inner">
                            <div class="our-team-info">
                                <div class="our-team-title-holder">
                                    <h5 class="our-team-name"><a class="ref-feature" href="#nursing"><br>Enfermería</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="our-team main-info-below-image">
                        <div class="our-team-inner">
                            <div class="our-team-info">
                                <div class="our-team-title-holder">
                                    <h5 class="our-team-name"><a class="ref-feature" href="#speech-therapy"><br>Fonoaudiología</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="our-team main-info-below-image">
                        <div class="our-team-inner">
                            <div class="our-team-info">
                                <div class="our-team-title-holder">
                                    <h5 class="our-team-name"><a class="ref-feature" href="#safe-work">Seguridad y salud en el trabajo</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="our-team main-info-below-image">
                        <div class="our-team-inner">
                            <div class="our-team-info">
                                <div class="our-team-title-holder">
                                    <h5 class="our-team-name"><a class="ref-feature" href="#quality-standard">Estándares de calidad de Educación</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    
    <section id="features-page">
        <div class="subsection2" id="psychology">
            <div class="container">
                <div class="col-xs-12 col-sm_12 col-md-12 col-lg-12 left">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wpb_column">
                        <div class="wpb_wrapper"><br>
                            <h3>Psicología para jardines</h3>
                            <hr> <div><img src="../static/img/psychology.png" class="feature-img"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa fa-user-md sl-layers boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>INTERVENCIONES</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Contamos con un equipo multidisciplinario de expertos en psicología infantil que desarrollan intervenciones grupales e individuales con niños, niñas, familias y personal de jardines infantiles.</p>
                                </div>
                            </div>
                            <div class="spacer"></div>
                            <div class="iconbox iconbox-style-2 icon-color clearfix">
                                <div class="iconbox-icon">
                                    <i class="fa fa-thumbs-o-up sl-book-open boxicon"></i>
                                </div>
                                <div class="iconbox-content nomargin">
                                    <h4>ASERTIVIDAD</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Nuestros profesionales tienen experiencia específica en la primera infancia y entornos educativos, lo que les permite tomar acciones asertivas cuando se enfrentan desafíos en las instituciones.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa fa-search-plus sl-badge boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>TÉCNICA BASADA EN EVIDENCIA</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Utilizamos técnicas innovadoras basadas en evidencia para promover el buen trato, el crecimiento emocional, la resiliencia y las habilidades sociales en los niños y niñas, al mismo tiempo que trabajamos en la prevención de situaciones de maltrato y posibles casos de abuso sexual infantil. En coherencia a la normatividad vigente.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="subsection2" id="nursing" style="background-color: #f9f9f9;">
            <div class="container">
                <div class="col-xs-12 col-sm_12 col-md-12 col-lg-12 left">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wpb_column">
                        <div class="wpb_wrapper"><br>
                            <h3>Enfermería</h3>
                            <hr> <div><img src="../static/img/nursing.png" class="feature-img"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa fa-child sl-layers boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>EXPERIENCIA CON PRIMERA INFANCIA</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Nuestro equipo está compuesto por profesionales en enfermería que son apasionadas por su trabajo. Cuentan con una amplia experiencia en el ámbito asistencial y comunitario en relación con la primera infancia, lo que facilita la realización de talleres grupales con niños y familias.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa fa-book sl-badge boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>AMPLIO CONOCIMIENTO</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">El 80% de nuestro equipo cuenta con especializaciones o maestrías en áreas relacionadas con la educación y la promoción y prevención de la salud. En consecuencia, todas las acciones que llevamos a cabo en los establecimientos educativos se centran en el cumplimiento de las normativas vigentes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="subsection2" id="speech-therapy">
            <div class="container">
                <div class="col-xs-12 col-sm_12 col-md-12 col-lg-12 left">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wpb_column">
                        <div class="wpb_wrapper"><br>
                            <h3>Fonoaudiología</h3>
                            <hr> <div><img src="../static/img/speech-therapy.png" class="feature-img"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa fa-cogs sl-layers boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>SOLUCIONES ADAPTADAS</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Contamos con profesionales con una vasta experiencia en el ámbito educativo. Como resultado, nuestros talleres grupales con niños, niñas, familias y personal tienen la capacidad de gestionar soluciones que se adaptan a la realidad de la institución, lo que beneficia a toda la comunidad educativa.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa fa-wheelchair sl-badge boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>FORTALECIMIENTO EXPERIENCIAS PEDAGÓGICAS</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Además, nuestros procesos de intervención están diseñados para guiar a las maestras en el fortalecimiento de sus experiencias pedagógicas, especialmente con los niños y niñas que presentan discapacidad.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="subsection2" id="safe-work" style="background-color: #f9f9f9;">
            <div class="container">
                <div class="col-xs-12 col-sm_12 col-md-12 col-lg-12 left">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wpb_column">
                        <div class="wpb_wrapper"><br>
                            <h3>Seguridad y Salud en el Trabajo</h3>
                            <hr> <div><img src="../static/img/safe-work.png" class="feature-img"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa fa-exclamation-triangle sl-layers boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>GESTIÓN DE RIESGOS</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Nuestros profesionales cuentan con estudios de pedagogía previos a la obtención de su Licencia de Seguridad y Salud en el Trabajo. Esta combinación les permite gestionar con precisión los riesgos laborales en el ámbito educativo.</p>
                                </div>
                            </div>
                            <div class="spacer"></div>
                            <div class="iconbox iconbox-style-2 icon-color clearfix">
                                <div class="iconbox-icon">
                                    <i class="fa fa-laptop sl-book-open boxicon"></i>
                                </div>
                                <div class="iconbox-content nomargin">
                                    <h4>PLATAFORMAS VIRTUALES</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Además, hemos incorporado plataformas virtuales para facilitar la implementación práctica del SG-SST por parte de maestros y directivos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa fa-calendar-check-o sl-badge boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>AJUSTE APROPIADO DE CALENDARIO</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Su experiencia se ha centrado exclusivamente en jardines infantiles y colegios. Como resultado, nuestra organización el Sistema de Seguridad y Salud (SG-SST)en el Trabajo se ajusta de manera coherente a los calendarios de trabajo de las instituciones.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="subsection2"  id="quality-standard">
            <div class="container">
                <div class="col-xs-12 col-sm_12 col-md-12 col-lg-12 left">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wpb_column">
                        <div class="wpb_wrapper"><br>
                            <h3>Asesoría Estándares de Calidad de la Educación Inicial</h3>
                            <hr> <div><img src="../static/img/quality-standard.png" class="feature-img"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa fa-briefcase sl-layers boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>MÁS DE 10 AÑOS DE EXPERIENCIA</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Nuestros profesionales cuentan con estudios tanto en pedagogía como en psicología, respaldados por más de 10 años de experiencia en la asesoría de estándares de calidad de la educación inicial.</p>
                                </div>
                            </div>
                            <div class="spacer"></div>
                            <div class="iconbox iconbox-style-2 icon-color clearfix">
                                <div class="iconbox-icon">
                                    <i class="fa fa-magic sl-book-open boxicon"></i>
                                </div>
                                <div class="iconbox-content nomargin">
                                    <h4>PRACTICIDAD</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Nuestra metodología de asesoría se enfoca en la practicidad, lo que permite que el jardín infantil adopte una cultura de cumplimiento preventivo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <!-- icon-color-greyscale -->
                                <div class="iconbox-icon">
                                    <i class="fa fa-pencil-square-o sl-badge boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>ENFOQUES PERSONALIZADOS</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Nuestra amplia trayectoria nos permite desarrollar acciones específicas para abordar las necesidades de cada institución, basadas en los desafíos que se han presentado en las instituciones que hemos asesorado.</p>
                                </div>
                            </div>
                            <div class="spacer"></div>
                            <div class="iconbox iconbox-style-2 icon-color clearfix">
                                <div class="iconbox-icon">
                                    <i class="fa fa-level-up sl-book-open boxicon"></i>
                                </div>
                                <div class="iconbox-content nomargin">
                                    <h4>CUMPLIMIENTO DE NORMATIVAS</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Con nuestro acompañamiento, el cumplimiento de las normativas se vuelve un proceso sencillo para las maestras, facilitando así su labor en el día a día.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contacto</h4>
                        <hr/>
                        <h4>Angie Prieto Gómez</h4>
                        <p>
                            <b>Correo:</b> jardininfantilaldia&#64;gmail.com <br>
                            <b>Teléfono:</b> 3004729917<br>
                        </p>
                        <p>
                            <b>Horario laboral:</b> <br>
                            Lunes a viernes: 8:00 am a 5:00pm<br>
                            Sábados: 8:00am a 1:00 pm <br>
                        </p>
                        <a href="/contact" class="learnmore">Contáctanos <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Links de utilidad</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="/about">Nosotros</a></li>
                            <li><a href="/contact">Contáctenos</a></li>
                            <li><a href="/features">Servicios</a></li>
                            <li><a href="/training">Capacitación</a></li>
                            <li><a href="/formats">Formatos</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Nuestras redes sociales</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="https://bit.ly/3dr1L8T" target="_blank"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;Facebook</a></li>
                            <li><a href="https://bit.ly/3degVhy" target="_blank"><i class="fa fa-instagram"></i>&nbsp;&nbsp;&nbsp;Instagram</a></li>
                            <li><a href="https://www.tiktok.com/@anyi.kpg?_t=8g35ffMGoiM&_r=1" target="_blank"><i class="fab fa-tiktok"></i>&nbsp;&nbsp;&nbsp;TikTok</a></li>
                            <li><a href="https://bit.ly/3Qhp8A5" target="_blank"><i class="fa fa-youtube"></i>&nbsp;&nbsp;&nbsp;Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Developed by <a href="#">Aspire Software Solutions</a> designed by <a href="#">Designing Team</a>
                </div>
            </div>
        </div>
    </section>

</body>

</html>