<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/scss/main.css">
    <link rel="stylesheet" href="../static/scss/skin.css">

    <link rel="icon" type="image/x-icon" href="../static/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="../static/script/index.js"></script>
</head>

<body id="wrapper">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-7 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-laptop"></i><a href="https://campus.asesoriaseducativasaldia.com/login/index.php">PLATAFORMA</a></li>
                        <li><i class="fa fa-phone"></i><a href="/contact">CONTACTA CON NOSOTROS</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 social">
                    <ul class="social_links">
                        <li><a href="https://bit.ly/3dr1L8T" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://bit.ly/3degVhy" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.tiktok.com/@anyi.kpg?_t=8g35ffMGoiM&_r=1" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://bit.ly/3Qhp8A5" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
                        <a class="navbar-brand" href="#">
                            <img src="../static/img/logo.png."> 
                        </a>
                            <!-- <h1>Aspire</h1><span>Software Solutions</span></a> -->
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="/about">Nosotros</a></li>
                            <li><a href="/contact">Contáctenos</a></li>
                            <li><a href="/features">Servicios</a></li>
                            <li><a href="/training">Capacitación</a></li>
                            <li><a href="/formats">Formatos</a></li>
                            <!-- <li><a href="login.html">Sign In</a></li>
                            <li><a href="registration.html">Sign Up</a></li> -->
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </nav>
    </header>
    <!--/.nav-ends -->

    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('../static/img/bannerslide1.jpg');"></div>
                <div class="carousel-caption slide-up"><br>
                    <h1 class="banner_heading">Asesoría para <br><span>jardines infantiles </span><br>y <span>colegios</span></h1><br>
                    <div class="slider_btn">
                        <a href="/contact">
                            <button type="button" class="btn btn-default slide">MÁS INFORMACIÓN <i class="fa fa-caret-right"></i></button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="fill" style="background-image:url('../static/img/bannerslide2.jpg');"></div>
                <div class="carousel-caption slide-up"><br>
                    <h1 class="banner_heading">Descubre nuestro <br><span>equipo de trabajo </span></h1><br>
                    <div class="slider_btn">
                        <a href="/about">
                            <button type="button" class="btn btn-default slide">Haz click acá <i class="fa fa-caret-right"></i></button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- <div class="item">
                <div class="fill" style="background-image:url('../static/img/banner-slide3.jpg');"></div>
                <div class="carousel-caption slide-up">
                    <h1 class="banner_heading">Providing The <span>Highest </span>Lorem</h1>
                    <p class="banner_txt">Lorem ipsum dolor sit amet sit legimus copiosae instructior eiut vix denique fierentis ea saperet inimicu utqui dolor oratio mnesarchum.</p>
                    <div class="slider_btn">
                        <button type="button" class="btn btn-default slide">Learn More <i class="fa fa-caret-right"></i></button>
                        <button type="button" class="btn btn-primary slide">Learn More <i class="fa fa-caret-right"></i></button>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- Left and right controls -->

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>

    </div>

    <section id="process">
        <div class="container">
            <div class="section-heading text-center">
                <div class="col-md-12 col-xs-12">
                    <h1>¿Por qué <span>asesorías educativas</span> al día?</h1> <br>
                    <p class="textinfo"> Asesoría virtual y/o presencial en el cumplimiento de estándares de calidad de la educación inicial para jardines infantiles. (Nutrición y Salubridad, Ambientes Adecuados y Seguros, Proceso Pedagógico, Talento Humano y Proceso Administrativo)
                        Con el fin de generar en las directoras tranquilidad antes, durante y después de las visitas de inspección.
                    </p> <br>
                    <a href="/contact">
                        <button type="button" class="btn btn-primary slide">Únete a nosotros <i class="fa fa-caret-right"></i></button>    
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="process" style="background-color: #25BBEE;">
        <div class="container">
            <div class="section-heading text-center">
                <div class="col-md-12 col-xs-12">
                    <p class="textinfo2"> Diseño e implementación del Sistema de Seguridad y Salud en el Trabajo para establecimientos educativos.
                    </p>
                    <a href="/contact">
                        <button type="button" class="btn btn-default slide">Únete a nosotros <i class="fa fa-caret-right"></i></button>    
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <section id="about-page-section-3">
        <div class="container">
            <div class="row">
                <div class="section-heading text-center">
                    <h1>Servicio profesional de psicología para <br><span>jardines infantiles y colegios</span></h1>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 text-align">
                    <p class="textinfo" style="text-align: justify;">
                        Apoyo de un(a) profesional en el área de Psicología para fortalecer el trabajo con niños, niñas, padres, madres o cuidadores de acuerdo con las necesidades de la institución.

                        <br>Implementación de talleres grupales en pro de garantizar el buen trato en la comunidad educativa y prevenir maltrato Infantil.
                        <br><br>
                    </p>
                    <a href="/contact">
                        <button type="button" class="btn btn-default slide">Únete a nosotros <i class="fa fa-caret-right"></i></button>    
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <img style="margin-top: 20px;" height="" width="70%" src="../static/img/psychology.jpeg" class="attachment-full img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio" style="background-color: #25BBEE;">
        <div class="container">
            <div class="row">
                <div class="section-heading text-center">
                    <div class="col-md-12 col-xs-12">
                        <h1 style="color: white;">Asesorías<span> Educativas</span></h1>
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 portfolio-button-left">
                    <a href="/contact">
                        <button type="button" class="btn btn-default slide">Inscríbete ya&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-caret-right"></i></button>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 portfolio-button-center">
                    <a href="/formats">
                        <button type="button" class="btn btn-default slide">Descargar folletos <i class="fa fa-caret-right"></i></button>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 portfolio-button-right">
                    <a href="/contact">
                        <button type="button" class="btn btn-default slide">Eventos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-caret-right"></i></button>
                    </a>
                </div>
                <br><br><br>
            </div>


    </section>

    <section id="features-page">
        <div class="subsection1">
            <div class="container">
                <div class="section-heading text-center">
                    <h1 style="color: black;">Ellos ya lograron su <span>acreditación</span> con nosotros </h1> <br>
                </div>
                <div class="col sm_12">
                    <div class="col-sm-4 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="flip">
                                <div class="iconbox iconbox-style icon-color card clearfix">
                                    <div class="face front">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td> 
                                                        <br><br><br>
                                                        <img src="../static/img/domans.png" style="width: 30%;">
                                                        <h3>Domans Children School</h3>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="iconbox-box2 face back">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td> 
                                                        <p>
                                                            <br><br>
                                                            Domas Children School desea agradecer a jardines al día 
                                                            en cabeza de la doctora Angie Prieto y su excelente grupo 
                                                            de profesionales por su asesoría y apoyo al jardín estudiantes 
                                                            y padres de familia sin ustedes no se hubiese logrado nuestro 
                                                            tan anhelado REI, mil y mil gracias.                                                       
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="flip">
                                <div class="iconbox  iconbox-style icon-color card clearfix">
                                    <div class="iconbox-box1 face front">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <br><br><br>
                                                        <img src="../static/img/sannicolas.jpg" style="width: 30%;">
                                                        <h3>Taller Infantil San Nicolás</h3>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="iconbox-box2 face back">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p style="font-size: small; line-height: 1em;">
                                                            Anyi y su programa de asesorías integrales muy pacientemente me ha indicado los diversos procesos, 
                                                            los estándares que se deben alcanzar, el apoyo  de las profesionales y el compromiso de mi parte para 
                                                            dar cumplimiento a las tareas que ella considera que deben lograr mes a mes. 
                                                            En el 2022, Anyi me propone postularme para la obtención del REI y con angustia, pero con decisión lo hice 
                                                            y contando ampliamente con el apoyo de Anyi, este cometido se llevó a feliz término. 
                                                            Pese a haber obtenido tan anhelado reconocimiento, no he dejado de tener los servicios de Asesorías educativas, 
                                                            ya que constantemente va mejorando en todos los aspectos y para mí es una inversión en mi proyecto, mi tranquilidad 
                                                            y en mantener la excelencia en lo que en conjunto significa San Nicolás. Agradezco la 
                                                            atención prestada y a las directoras que aún no tienen el REI, les hago una humilde 
                                                            invitación: dejar los temores y a trabajar a conciencia orientadas por la mano profesional de Anyi. 
                                                            Un abrazo fraterno.
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wpb_colum block">
                        <div class="wpb_wrapper">
                            <div class="flip">
                                <div class="iconbox  iconbox-style icon-color card clearfix">
                                    <div class="iconbox-box1 face front">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <br><br>
                                                        <img src="../static/img/elarbolmagico.png" style="width: 30%;">
                                                        <h3>El Árbol Mágico Centro de Educación Infantil </h3>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="iconbox-box2 face back">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>
                                                            <br><br>
                                                            El servicio prestado por jardines al día es el mejor!!!! 
                                                            Gracias a ustedes logramos tener nuestro REI, si no que mensualmente 
                                                            contamos con un equipo maravilloso a nuestro servicio y el de nuestros 
                                                            niños. Gracias por la gran labor que desempeñan, gracias por acompañarnos 
                                                            y apoyarnos siempre.
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-heading text-center">
                </div>
                <div class="col sm_12">
                    <div class="col-sm-4 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="flip">
                                <div class="iconbox iconbox-style icon-color card clearfix">
                                    <div class="face front">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <br><br>
                                                        <img src="../static/img/semillitasdemaria.png" style="width: 30%;">
                                                        <h3>Jardín Infantil Semillitas De María </h3>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="iconbox-box2 face back">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p style="line-height: 1.1em;">
                                                            Quiero dar mi agradecimiento a Anyi y todo su equipo de trabajo 
                                                            durante el año 2023 obtuvimos el REI, gracias a que son un equipo 
                                                            muy comprometido que te enseñan a ti como directora a trabajar a 
                                                            consciencia, a diligenciar los formatos a tiempo y a trabajar con 
                                                            una actitud preventiva y no reactiva. Esto nos enseñó a esperar la 
                                                            visita de cualquier ente regulador, sin previo aviso. Agradezco a 
                                                            todo su equipo especialmente a la psicóloga y la enfermera. Asesorías 
                                                            Educativas Al Día, me acompaña hace más de 5 años y realmente siento 
                                                            la tranquilidad de que mis procesos están organizadon y cumple con los 
                                                            requerimientos que debemos tener. Además, a ti como directora te da esa 
                                                            tranquilidad. Muchas Gracias y Asesorías Educativas Al  Día son únicos.
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="flip">
                                <div class="iconbox  iconbox-style icon-color card clearfix">
                                    <div class="iconbox-box1 face front">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <br><br><br>
                                                        <img src="../static/img/prisma.jpg" style="width: 30%;">
                                                        <h3>Prisma Jardín Infantil</h3>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="iconbox-box2 face back">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p style="line-height: 1.05em;">
                                                            Hoy queremos compartir la inmensa alegría y satisfacción que nos 
                                                            genera la obtención del anhelado del Registro de Educación Inicial REI.
                                                            Este logro es el resultado del trabajo de un maravilloso equipo, del 
                                                            cual tú y tus profesionales de apoyo hacen parte, por eso queremos 
                                                            agradecer inmensamente tu asesoría, compromiso, acompañamiento y 
                                                            profesionalismo de la enfermera jefe Zulma, la fonoaudióloga Brigitte 
                                                            y en su momento de la psicóloga Sandrita y Consuelo. Gracias, por ser 
                                                            parte de esta familia, por ayudarnos a construir este sueño y a seguir 
                                                            día a día mejorando en el servicio que damos a nuestros chiquitines y sus familias.
                                                            Gracias Anyi por toda tu disposición y cariño y por crear este equipo de Jardines 
                                                            Al Día para apoyar  a tantas directoras que continuamos luchando por la niñez de 
                                                            nuestro país.
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wpb_colum block">
                        <div class="wpb_wrapper">
                            <div class="flip">
                                <div class="iconbox  iconbox-style icon-color card clearfix">
                                    <div class="iconbox-box1 face front">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <br><br><br>
                                                        <img src="../static/img/micastillomagico.jpeg" style="width: 30%;">
                                                        <h3>Jardín Infantil Mi Castillo Mágico</h3>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="iconbox-box2 face back">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>
                                                            El Jardín Infantil Mi Castillo Mágico ofrece un sincero agradecimiento 
                                                            a Asesorías Educativas Al Día dirigido por su representante Anyi Prieto, 
                                                            gracias por su dedicación y  acompañamiento en estos 5 años, por seguir 
                                                            con nosotros y desempeñarse con la disciplina y profesionalismo que los 
                                                            caracteriza... Nos sentimos orgullosos porque gracias a sus consejos y 
                                                            orientación logramos ser el primer jardín en obtener el REI en la localidad 
                                                            de Ciudad Bolívar. Dios los siga Bendiciendo
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contacto</h4>
                        <hr/>
                        <h4>Angie Prieto Gómez</h4>
                        <p>
                            <b>Correo:</b> jardininfantilaldia&#64; gmail.com <br>
                            <b>Teléfono:</b> 3004729917<br>
                        </p>
                        <p>
                            <b>Horario laboral:</b> <br>
                            Lunes a viernes: 8:00 am a 5:00pm<br>
                            Sábados: 8:00am a 1:00 pm <br>
                        </p>
                        <a href="/contact" class="learnmore">Contáctanos <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Links de utilidad</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="/about">Nosotros</a></li>
                            <li><a href="/contact">Contáctenos</a></li>
                            <li><a href="/features">Servicios</a></li>
                            <li><a href="/training">Capacitación</a></li>
                            <li><a href="/formats">Formatos</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Nuestras redes sociales</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="https://bit.ly/3dr1L8T" target="_blank"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;Facebook</a></li>
                            <li><a href="https://bit.ly/3degVhy" target="_blank"><i class="fa fa-instagram"></i>&nbsp;&nbsp;&nbsp;Instagram</a></li>
                            <li><a href="https://www.tiktok.com/@anyi.kpg?_t=8g35ffMGoiM&_r=1" target="_blank"><i class="fab fa-tiktok"></i>&nbsp;&nbsp;&nbsp;TikTok</a></li>
                            <li><a href="https://bit.ly/3Qhp8A5" target="_blank"><i class="fa fa-youtube"></i>&nbsp;&nbsp;&nbsp;Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Developed by <a href="#">Aspire Software Solutions</a> designed by <a href="#">Designing Team</a>
                </div>
            </div>
        </div>
    </section>

</html>