<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Capacitación</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/scss/main.css">
    <link rel="stylesheet" href="../static/scss/skin.css">

    <link rel="icon" type="image/x-icon" href="../static/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="../static/script/index.js"></script>
</head>

<body id="wrapper">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-7 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-laptop"></i><a href="https://campus.asesoriaseducativasaldia.com/login/index.php">PLATAFORMA</a></li>
                        <li><i class="fa fa-phone"></i><a href="/contact">CONTACTA CON NOSOTROS</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 social">
                    <ul class="social_links">
                        <li><a href="https://bit.ly/3dr1L8T" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://bit.ly/3degVhy" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.tiktok.com/@anyi.kpg?_t=8g35ffMGoiM&_r=1" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://bit.ly/3Qhp8A5" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
                        <a class="navbar-brand" href="#">
                            <img src="../static/img/logo.png"> 
                        </a>
                            <!-- <h1>Aspire</h1><span>Software Solutions</span></a> -->
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">Nosotros</a></li>
                            <li><a href="/contact">Contáctenos</a></li>
                            <li><a href="/features">Servicios</a></li>
                            <li class="active"><a href="#">Capacitación</a></li>
                            <li><a href="/formats">Formatos</a></li>
                            <!-- <li><a href="login.html">Sign In</a></li>
                            <li><a href="registration.html">Sign Up</a></li> -->
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </nav>
    </header>

    <section id="top_banner">
        <div class="banner">
            <div class="inner text-center">
                <h2>Aprovecha nuestras capacitaciones para mejorar la calidad de tu institución</h2>
            </div>
        </div>
        <div class="page_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">
                        <h4>Capacitación</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> / </span><span class="current">Capacitación</span></div>
                </div>
            </div>
        </div>

        </div>
    </section>

    <section id="features-page">
        <div class="subsection3" style=" overflow-x:hidden;">

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 left-section">
                        <div class="subfeature">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h1><span>Plataforma </span>virtual</h1>
                                <br><br>
                                <a href="https://campus.asesoriaseducativasaldia.com/login/index.php" target="_blank">
                                    <button type="button" class="btn btn-default slide">Acceso al campus <i class="fa fa-caret-right"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-12 right-section right-background">
                        <div class="subfeature">
                            <div class="featureblock">
                                <div class="col-md-2 col-xs-2 icon"><i class="fa-solid fa-users-rectangle"></i></div>
                                <div class="col-md-10 col-xs-10">
                                    <h4>Capacitaciones interactivas</h4>
                                    <p>
                                        Contamos con una plataforma virtual que brinda capacitaciones interactivas en temas 
                                        como inducción al personal, planeación pedagógica, prevención de abuso sexual infantil, 
                                        seguridad y salud en el trabajo, y construcción de proyectos pedagógicos con enfoque de 
                                        atención integral a la primera infancia. Estas capacitaciones se adaptan a la realidad 
                                        de las instituciones educativas y se pueden acceder en cualquier momento y lugar. Además, 
                                        se entrega un certificado de capacitación automáticamente.
                                    </p>
                                </div>
                            </div>
                            <div class="featureblock">
                                <div class="col-md-2 col-xs-2 icon"><i class="fa-solid fa-person-chalkboard"></i></i></div>
                                <div class="col-md-10 col-xs-10">
                                    <h4>Talleres</h4>
                                    <p>
                                        Ofrecemos talleres presenciales o virtuales sobre temas como la inducción al personal desde 
                                        los estándares de la educación inicial y la prevención de abuso sexual infantil. Estos talleres 
                                        brindan conocimientos prácticos y herramientas para actuar de manera asertiva en situaciones 
                                        de presunto abuso sexual infantil o vulneración de derechos.
                                    </p>
                                </div>
                            </div>
                            <div class="featureblock nomargin">
                                <div class="col-md-2 col-xs-2 icon"><i class="fa-solid fa-school-flag"></i></div>
                                <div class="col-md-10 col-xs-10">
                                    <h4>Servicios personalizados</h4>
                                    <p>
                                        Nuestros servicios de cualificación se adaptan a las necesidades de cada institución educativa 
                                        y brindan herramientas prácticas y actualizadas para mejorar la calidad de la educación
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!--pricing-->
        <!-- <div class="subsection4">
            <div class="container">
                <div class="col span_12">
                    <div class="col-sm-12 wpb_column column_container">
                        <div class="wpb_wrapper">
                            <div class="section-heading text-center">
                                <h1>Our <span>Plans</span></h1>
                                <p class="subheading">Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum ea utamur impetus fuisset nam nostrud euismod volumus ne mei.</p>
                            </div>
                            <div class="row" style="margin-top:30px;">
                                <div class="wpb_column vc_column_container col-sm-4 block grow">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="pricing-plan pricing-color-true">
                                                <div class="pricing-plan-head pricing-plan-1">
                                                    <h3>Starter Edition</h3>
                                                    <div class="pricing-price">
                                                        <span class="pricing-amount">$29.00</span>
                                                        <span class="pricing-per">per month</span>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li><strong>Free</strong> Setup</li>
                                                    <li><strong>10GB</strong> Storage</li>
                                                    <li><strong>100GB</strong> Bandwith</li>
                                                    <li><strong>5</strong> Products</li>
                                                    <li><strong>Basic</strong> Stats</li>
                                                </ul>
                                                <div class="pricing-signup">
                                                    <a href="#" class="button color-5">Buy Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container col-sm-4 block grow">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="pricing-plan pricing-color-true ">
                                                <div class="pricing-plan-head pricing-plan-2">
                                                    <div class="featured-ribbon">Best Value</div>
                                                    <h3>Diamond Edition</h3>
                                                    <div class="pricing-price">
                                                        <span class="pricing-amount">$49.00</span>
                                                        <span class="pricing-per">per month</span>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li><strong>Free</strong> Setup</li>
                                                    <li><strong>100GB</strong> Storage</li>
                                                    <li><strong>1000GB</strong> Bandwith</li>
                                                    <li><strong>25</strong> Products</li>
                                                    <li><b>Complex</b>&nbsp;Stats</li>
                                                </ul>
                                                <div class="pricing-signup">
                                                    <a href="#" class="button color-5">Buy Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container col-sm-4 block grow">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="pricing-plan pricing-color-true">
                                                <div class="pricing-plan-head pricing-plan-1">
                                                    <h3>Platinum Edition</h3>
                                                    <div class="pricing-price">
                                                        <span class="pricing-amount">$99.00</span>
                                                        <span class="pricing-per">per week</span>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li><strong>Free</strong> Setup</li>
                                                    <li><strong>50GB</strong> Storage</li>
                                                    <li><strong>500GB</strong> Bandwith</li>
                                                    <li><b>Unlimited</b> Products</li>
                                                    <li><b>Complex</b> Stats</li>
                                                </ul>
                                                <div class="pricing-signup">
                                                    <a href="#" class="button color-5">Buy Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section id="team-member" style="background-color: #f9f9f9;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 xol-md-12 col-sm-12 col-xs-12">
                    <div class="section-heading text-center">
                        <h1>Nuestros <span>talleres</span></h1>
                        <p class="textinfo">
                            Actualmente, los talleres que ofrecemos son los siguientes: "Inducción", 
                            "Taller Prevención de Abuso Sexual Infantil", "Taller de Seguridad y Salud 
                            en el Trabajo" y "Taller de Construcción de Proyecto Pedagógico con Enfoque 
                            de Atención Integral a la Primera Infancia". A continuación, se puede encontrar
                            más detalle de cada uno de ellos.
                        </p>
                        <br>
                    </div>
                    <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-6 block mybox">
                        <a href="#induccion">
                            <button type="button" class="btn btn-primary slide">Inducción <br> docentes <i class="fa fa-caret-right"></i></button>
                        </a>
                    </div>
                    <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-6 block mybox">
                        <a href="#prevencion-abuso">
                            <button type="button" class="btn btn-primary slide">Prevención <br>Abuso <i class="fa fa-caret-right"></i></button>
                        </a>
                    </div>
                    <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-6 block mybox">
                        <a href="#SG-SST">
                            <button type="button" class="btn btn-primary slide">Seguridad <br>SG-SST <i class="fa fa-caret-right"></i></button>
                        </a>
                    </div>
                    <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-6 block mybox">
                        <a href="#proyecto-pedagogico">
                            <button type="button" class="btn btn-primary slide">Proyecto <br>pedagógico <i class="fa fa-caret-right"></i></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features-page">
        <div class="subsection2" id="induccion">
            <div class="container">
                <div class="col-xs-12 col-sm_12 col-md-12 col-lg-12 left">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wpb_column">
                        <div class="wpb_wrapper"><br>
                            <h3>Inducción</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa-solid fa-child-reaching boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>INDUCCIÓN A DOCENTES DE PRIMERA INFANCIA</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Nuestro taller de inducción al personal docente de jardines infantiles abordará los aspectos clave de cada componente mencionado (nutrición y salubridad, ambientes adecuados y seguros, proceso pedagógico, talento humano y proceso administrativo). <br><br>Durante el taller, se realizará una socialización detallada de los documentos esenciales que los maestros deben conocer y utilizar en el desarrollo de su labor, brindando una comprensión clara de las responsabilidades adquiridas desde cada componente.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa-solid fa-file-signature boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>DOCUMENTACIÓN</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Al finalizar la capacitación, se proporcionarán actas de asistencia que los participantes firmarán, lo que permitirá documentar de manera consciente y coherente el haber recibido esta inducción y haber adquirido el conocimiento necesario para llevar a cabo su trabajo de manera efectiva.</p>
                                </div>
                                <div class="spacer"></div>
                                <div class="iconbox iconbox-style-2 icon-color clearfix">
                                    <div class="iconbox-icon">
                                        <i class="fa-solid fa-arrows-to-circle boxicon"></i>
                                    </div>
                                    <div class="iconbox-content nomargin">
                                        <h4>ENFOQUE</h4>
                                        <p class="textinfo" style="line-height: 1.5em;">Nuestro enfoque se basa en brindar herramientas y el apoyo necesarios para desempeñar su labor de manera adecuada, considerando aspectos clave y promoviendo la calidad en la educación inicial.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="subsection2" id="prevencion-abuso" style="background-color: #f9f9f9;">
            <div class="container">
                <div class="col-xs-12 col-sm_12 col-md-12 col-lg-12 left">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wpb_column">
                        <div class="wpb_wrapper"><br>
                            <h3>Taller Prevención de Abuso Sexual Infantil</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa-solid fa-circle-exclamation boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>PREVENIR, DETECTAR Y ACTUAR</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Nuestro taller de prevención y detección de abuso sexual infantil tiene como objetivo brindar al personal pedagógico las herramientas necesarias para prevenir, detectar y actuar de manera adecuada ante situaciones de presunto abuso infantil. Durante el taller, se abordarán temas como la identificación de señales de presunto abuso, los procedimientos de reporte y la colaboración con las autoridades competentes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa-solid fa-users-rays boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>PREPARACIÓN DEL PERSONAL</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">El taller se desarrolla en segmentos de teoría y práctica, con dinámicas y ejercicios interactivos que permiten fortalecer conocimientos y habilidades en el área. Además, se brinda información sobre protocolos y recursos para apoyar a las víctimas de abuso.
                                    Este taller se debe desarrollar cada año, como estándar esencial del componente de Proceso Pedagógico. Así, garantiza actualización y preparación del personal al enfrentar una situación de abuso en entornos educativos efectivamente y de acuerdo con las normativas vigentes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="subsection2" id="SG-SST">
            <div class="container">
                <div class="col-xs-12 col-sm_12 col-md-12 col-lg-12 left">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wpb_column">
                        <div class="wpb_wrapper"><br>
                            <h3>Sistema de Seguridad y Salud en el Trabajo (SG-SST)</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa-solid fa-desktop boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>PLATAFORMA VIRTUAL</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Proporcionamos una plataforma virtual para que el personal de las instituciones educativas pueda acceder a las capacitaciones programadas en el plan anual del SG-SST. Estas capacitaciones son dirigidas por especialistas en seguridad y salud en el trabajo y la plataforma emite certificados automáticamente.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa-solid fa-laptop-code boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>SOFTWARE FUNCIONAL</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">También ofrecemos un software para el comité de seguridad y salud en el trabajo, que permite desarrollar actividades de manera autónoma y en línea con las orientaciones mensuales.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="subsection2" id="proyecto-pedagogico" style="background-color: #f9f9f9;">
            <div class="container">
                <div class="col-xs-12 col-sm_12 col-md-12 col-lg-12 left">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wpb_column">
                        <div class="wpb_wrapper"><br>
                            <h3>Curso de construcción de proyecto pedagógico</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa-solid fa-folder-tree boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>CURSO ESTRUCTURADO EN MÓDULOS</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">Ofrecemos un curso estructurado en módulos que permite a las instituciones educativas construir proyectos pedagógicos con enfoque de atención integral a la primera infancia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix"><br>
                                <div class="iconbox-icon">
                                    <i class="fa-regular fa-handshake boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>ENCUENTROS PERSONALIZADOS</h4>
                                    <p class="textinfo" style="line-height: 1.5em;">El curso incluye acceso a plantillas editables y un módulo exclusivo de planeación pedagógica para facilitar el proceso de creación del proyecto. También incluye encuentros privado para asesorías grupales o individuales para resolver dudas o preguntas en relación a la construcción del documento.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Contacto</h4>
                        <hr/>
                        <h4>Angie Prieto Gómez</h4>
                        <p>
                            <b>Correo:</b> jardininfantilaldia&#64;gmail.com <br>
                            <b>Teléfono:</b> 3004729917<br>
                        </p>
                        <p>
                            <b>Horario laboral:</b> <br>
                            Lunes a viernes: 8:00 am a 5:00pm<br>
                            Sábados: 8:00am a 1:00 pm <br>
                        </p>
                        <a href="/contact" class="learnmore">Contáctanos <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Links de utilidad</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="/about">Nosotros</a></li>
                            <li><a href="/contact">Contáctenos</a></li>
                            <li><a href="/features">Servicios</a></li>
                            <li><a href="/training">Capacitación</a></li>
                            <li><a href="/formats">Formatos</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Nuestras redes sociales</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="https://bit.ly/3dr1L8T" target="_blank"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;Facebook</a></li>
                            <li><a href="https://bit.ly/3degVhy" target="_blank"><i class="fa fa-instagram"></i>&nbsp;&nbsp;&nbsp;Instagram</a></li>
                            <li><a href="https://www.tiktok.com/@anyi.kpg?_t=8g35ffMGoiM&_r=1" target="_blank"><i class="fab fa-tiktok"></i>&nbsp;&nbsp;&nbsp;TikTok</a></li>
                            <li><a href="https://bit.ly/3Qhp8A5" target="_blank"><i class="fa fa-youtube"></i>&nbsp;&nbsp;&nbsp;Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Developed by <a href="#">Aspire Software Solutions</a> designed by <a href="#">Designing Team</a>
                </div>
            </div>
        </div>
    </section>


</body>

</html>